body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#hangman {
    margin-top: 20px;
}

#hangman-image {
    width: 150px;
    height: 150px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#letters {
    margin-top: 20px;
}

#letters span {
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
}

#word {
    font-size: 32px;
    letter-spacing: 5px;
    margin-top: 20px;
}

#message {
    margin-top: 20px;
    font-size: 20px;
}
